@charset "UTF-8";

.header {
	background: $hero-color1;
    background: linear-gradient(45deg, $hero-color1 0%, $hero-color2 50%, $hero-color1 100%);

    color: white;

	height: 40vh;

    &__title-1 {
    	text-align: center;
    	padding: 10px 0px 10px 0px;
    }

    &__title-2 {
    	text-align: center;
    	padding-bottom: 10px;
    }
}

@media screen and (min-width: 751px) {
	.header {
	 	-webkit-clip-path: ellipse(100% 50% at 51% 50%);
		clip-path: ellipse(100% 50% at 51% 40%);

		// -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
		// clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
	}
}

@media screen and (max-width: 750px) {
	.header {
		&__titleBox {
  			transform: translateY(60%);
		}
	}
}

@media screen and (max-width: 320px) {
	.header {
		&__titleBox {
  			transform: translateY(40%);
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	height: 60vh;
}

.main {
	max-width: $max-width;
	margin: 0px auto auto auto;
	padding: 10px;
}

.footer {
	/* Prevent Chrome, Opera, and Safari from letting these items shrink
	to smaller than their content's default minimum size. */
	flex-shrink: 0;
	z-index: 15;

	background: $hero-color1;
    background: linear-gradient(45deg, $hero-color1 0%, $hero-color2 50%, $hero-color1 100%);

	&__icons {
		width: 140px;
		margin: auto;
	}

	&__icons span {
		color: white;
		font-weight: bold;
		display: block;
		text-align: center;
		margin: 5px 0px 5px 0px;
	}

	&__icons a {
		color: white;
		font-weight: bold;
		display: inline-block;
		margin: 5px 0px 5px 0px;
		width: 70px;
		height: 70px;
	}

	&__icons a img:hover {
		animation: moveLogoOut 1s linear;
	}
}

@keyframes moveLogoOut {
	0% {

        transform: scale3d(1.05,1.05,1.05);
    }
    20% {

        transform: scale3d(1.1,1.1,1.1);
    }
    40% {

        transform: scale3d(1.15,1.15,1.15);
    }
    60% {

        transform: scale3d(1.1,1.1,1.1);
    }
    80% {

        transform: scale3d(1.05,1.05,1.05);
    }
    100% {

        transform: scale3d(1,1,1);
    }
}

@media screen and (min-width: 750px) {

	.footer {

		&__icons {
			margin: 0px auto 0px 10px;
		}
	}
}
