@charset "UTF-8";

.header {
	background: $hero-color1;
    background: linear-gradient(45deg, $hero-color1 0%, $hero-color2 50%, $hero-color1 100%);

    color: white;

	height: 250px;

    &__title-1 {
    	text-align: center;
    	padding: 10px 0px 10px 0px;
    }

    &__title-2 {
    	text-align: center;
    	padding-bottom: 10px;
    }
}

@media screen and (min-width: 751px) {
	.header {
	 	-webkit-clip-path: ellipse(100% 50% at 51% 50%);
		clip-path: ellipse(100% 50% at 51% 40%);

		// -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
		// clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
	}
}

@media screen and (max-width: 750px) {
	.header {
		&__titleBox {
  			transform: translateY(70%);
		}
	}
}

@media screen and (max-width: 320px) {
	.header {
		&__titleBox {
  			transform: translateY(50%);
		}
	}
}

.main {
	max-width: $max-width;
	margin: auto;
}