@charset "UTF-8";

.featuredwork {
	&__4 {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	&__5 {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	&__6 {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	&__7 {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	&__8 {
		padding-top: 20px;
		margin-bottom: 20px;
	}

	&__9 {
		padding-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 750px) {
	.featuredwork {

		&__4 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__4 &__imgbox {
			height: 500px;
		}

		&__5 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__5 &__imgbox {
			height: 500px;
		}

		&__6 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__6 &__imgbox {
			height: 300px;
		}

		&__7 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__7 &__imgbox {
			height: 300px;
		}

		&__8 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__8 &__imgbox {
			height: 300px;
		}

		&__9 {
			width: 45%;
			margin: 0px auto 20px auto;
		}

		&__9 &__imgbox {
			height: 300px;
		}

		// &__10 {
		// 	width: 60%;
		// 	margin: 0px auto 20px auto;
		// }
	}
}



