@charset "UTF-8";

.featuredwork {
	&__4 {
		margin-bottom: 20px;
	}

	&__5 {
		margin-bottom: 20px;
	}

	&__6 {
		margin-bottom: 20px;
	}

	&__7 {
		margin-bottom: 20px;
	}

	&__8 {
		margin-bottom: 20px;
	}

}

