/*Colors  951E1E*/

$main-color: white;
$background-color1: rgba(233,233,233,1);
$background-color2: rgba(255,255,255,1);
$footer-color: black;
$footer-text: white;
$text-color: #8C1D1C;
$link-hover: black;

/*Font*/
$default-font-size: 1.5rem;
$big-font-size: 1.75rem;

/*border radius*/
$border-radius-small: 6px;
$border-radius-large: 10px;

/*max width*/
$max-width: 100rem;